{% extends "invoice/base.html" %}

{% block content %}
   <h1>Customers with Unpaid Invoices</h1>

    <!-- Display Total Unpaid Amount -->
    <h2>Total Unpaid Amount: HK$ {{ total_unpaid|floatformat:2 }}</h2>

    <!-- Display Monthly Unpaid Totals -->
    <h3>Monthly Unpaid Totals:</h3>
    <table>
        <thead>
            <tr>
                <th>Month</th>
                <th>Total Unpaid</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in monthly_unpaid %}
                <tr>
                    <td>{{ entry.month|date:"F Y" }}</td>
                    <td>HK$ {{ entry.total|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Display the list of customers -->
    <h3>Customers and Unpaid Invoices:</h3>
    <table>
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Unpaid Invoices</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in customer_data %}
                <tr>
                    <td><a href="{% url 'customer_unpaid_invoices' entry.customer.name %}">
                    {{ entry.customer.name }}
                </a></td>
                    <td>
                        <table>
                            <thead>
                                <tr>
                                    <th>Invoice No.</th>
                                    <th>Delivery Date</th>
                                    <th>Total Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for invoice in entry.unpaid_invoices %}
                                    <tr>
                                        <td>{{ invoice.number }}</td>
                                        <td>{{ invoice.delivery_date|date:"Y-m-d" }}</td>
                                        <td>HK$ {{ invoice.total_price|floatformat:2 }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </table>
{% endblock %}
