{% extends 'invoice/base.html' %}
{% load bootstrap5 %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm border-0 rounded-3">
        <div class="card-body">
            <h1 class="page-heading">Customer List</h1>
            {% if filter %}
            <div class="filter-panel mb-4">
                <form action="" method="get">
                    <div class="row row-cols-lg-auto g-2 align-items-center">
                        {% bootstrap_form filter.form layout='inline' %}
                        <button type="submit" class="btn btn-primary mt-3">
                            <i class="bi bi-funnel"></i> Apply Filter
                        </button>
                    </div>
                </form>
            </div>
            {% endif %}

            <div class="table-responsive rounded-3" tabindex="0" role="region" aria-label="Scrollable data table">
                {% render_table table %}
            </div>
        </div>
    </div>
</div>


{% endblock %}
