{% extends "invoice/base.html" %}
{% load custom_filter %}
{% block content %}
<div class="container mt-4">
    <h1 class="page-heading">Monthly Payment Summary</h1>

    {% if months %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
        {% for month in months %}
        {% if month.total > 0 %}
        <div class="col">
            <a href="{% url 'monthly_payment_report' year=month.year month=month.month %}" class="text-decoration-none card-link">
                <div class="card shadow-sm border-0 h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ month.name }}</h5>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-warning">No invoices available.</div>
    {% endif %}
</div>


{% endblock %}
