{% extends 'invoice/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="page-heading">Salesman List</h1>

    <div class="row g-3">
        {% for salesman in salesmen %}
        <div class="col-md-4">
            <a href="{% url 'salesman_monthly_preview' salesman.id %}" class="text-decoration-none card-link">
                <div class="card shadow-sm border-0 h-100">
                    <div class="card-body">
                        <h5 class="card-title text-dark fw-bold">{{ salesman.name }}</h5>
                        <p class="card-text text-muted fs-6">Code: <span class="fw-semibold">{{ salesman.code }}</span>
                        </p>
                    </div>
                </div>
            </a>
        </div>
        {% empty %}
        <div class="col-12"><div class="alert alert-light border">No salesmen available.</div></div>
        {% endfor %}
    </div>
</div>


{% endblock %}
