{% extends "invoice/base.html" %}
{% load bootstrap5 %}
{% load custom_filter %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm border-0 rounded-3">
        <div class="card-body">
            <h1 class="page-heading">Unpaid Invoices for {{ year_month }}</h1>

            <!-- Total Unpaid Amount -->
            <div class="alert alert-warning rounded-3 p-4 text-center shadow-sm">
                <h2 class="mb-0">Total Unpaid Amount:
                    <strong class="text-danger">HK$ {{ total_unpaid|currency }}</strong>
                </h2>
            </div>

            <!-- Unpaid Invoices Table -->
            <div class="table-responsive" tabindex="0" role="region" aria-label="Scrollable data table">
                <table class="table align-middle shadow-sm rounded-3">
                    <thead class="table-dark text-white">
                    <tr>
                        <th>Invoice Number</th>
                        <th>Customer</th>
                        <th>Delivery Date</th>
                        <th class="text-end">Total Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for invoice in unpaid_invoices %}
                    <tr class="clickable-row {% cycle 'table-row-light' 'table-row-dark' %}">
                        <td>{{ invoice.number }}</td>
                        <td>{{ invoice.customer.name }}</td>
                        <td>{{ invoice.delivery_date|date:"Y-m-d" }}</td>
                        <td class="text-end fw-bold text-danger">HK$ {{ invoice.total_price|currency }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center text-muted">No unpaid invoices for this month.</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

{% endblock %}
